@font-face {
    font-family: 'The Bold Font';
    src: url('TheBoldFont.woff2') format('woff2'), url('TheBoldFont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}

#defaultCanvas0 {
    position: relative;
}

.buttonOverlay {
    position: absolute;
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}
.isAbout {
    background-color: rgba(68, 68, 68, 0.466);
    color: whitesmoke;
    border: 3px solid whitesmoke;
    text-align: center;
    font-family: 'The Bold Font', sans-serif;
    padding: 150px 20px;
}
.menu {
    background-color: rgba(68, 68, 68, 0.466);
    color:whitesmoke;
    font-family: 'The Bold Font', sans-serif;
    font-size: 40pt;
    border: 3px solid whitesmoke;
    width: 1000px;
    height: 900px;
    overflow-y: auto;
    vertical-align: center;
    border-right: none;
    border-left: none;
}
.title {
    display: block;
    padding: 10px;
    cursor: default;
}
.subtitle {
    font-family: "PT Sans", sans-serif;
    font-size: 20pt;
    padding: 20px 0;
    text-align: right;
}
.go {
    padding: 8px 8px;
    font-size: 18pt;
    background-color: rgba(68, 68, 68, 0.623);
    color:whitesmoke;
    font-family: 'The Bold Font', sans-serif;
    border: 1px solid whitesmoke;
    float: right;
}
button {
    font-family: 'The Bold Font', sans-serif;
    font-size: 50pt;
    background-color: rgba(68, 68, 68, 0);
    padding: 25px 50px;
    border: 1px solid whitesmoke;
    transition-duration: 0.4s;
    color: whitesmoke;
    outline: none;
}

button:hover {
    background-color: #555;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
